* {
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
}

body {
  background-color: oldlace;
}

.titleContainer {
  margin: 75px auto 0;
}

.bmiCalcDiv {
  margin: 125px auto;
}

div {
  margin: auto;
}

.submitbuttonContainer {
  margin: 50px auto;
}

.inputs {
  margin: 7.5px auto;
  border-radius: 20px;
  padding: 12px;
}

button {
  padding: 22px 35px;
  background-color: lightgreen;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

button:hover {
  background-color: MediumSeaGreen;
}

.outputContainer {
  margin: 50px auto;
}
